
<h3>О проекте</h3>
<p>
  Проект <a href="http://ostagram.ru/">Ostagram</a> является web интервейсом для взаимодействия с открытым проектом машинного обучения <a href="https://github.com/torch/torch7">Torch7</a>.
<p>
  Был сделан сантехником в момент запоя. Enjoy.
</p>
<% if !client_signed_in? %>
  <h3></h3>
  <%= link_to "Зарегистрироваться", new_client_registration_path , class: "btn btn-primary form-signin" %>
  <h3></h3>
  <%= link_to "Войти", new_client_session_path, class: "btn btn-primary form-signin" %>
<% end %>
<p>
  <%= @result %>
</p>