<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
        <h3>О проекте</h3>
        <p>
          Проект <a href="http://ostagram.ru/">Ostagram</a> является web интервейсом для взаимодействия с открытым проектом машинного обучения <a href="https://github.com/torch/torch7">Torch7</a>.</p>
        <p>
          Был сделан сантехником в момент запоя. Enjoy.
        </p>
        <p> Пожалуйста, зарегистрируйтесь что бы добавлять изображения на обработку</p>
    </div>
  </div>

  <% if !client_signed_in? %>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-4 col-md-6 col-mdlg-offset-1 col-sm-6 col-sm-offset-1 col-xs-6 col-xs-offset-1">
      <h3></h3>
      <%= link_to "Зарегистрироваться", new_client_registration_path , class: "btn btn-primary" %>
    </div>
    <div class="col-lg-1 col-md-5 col-sm-5 col-xs-5">
      <h3></h3>
      <%= link_to "Войти", new_client_session_path, class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

 </div>
