<div class="center hero-unit">
 <h1>Welcome to the Ostagram Project</h1>
 <h2>
    This is the home page for the
    <a href="http://ostagram.ru/">Ostagram Project</a>
    application.
   <%= link_to "Start", about_path,
               class: "btn btn-large btn-primary" %>
 </h2>

</div>


