<div class="content"><div class="row">
  <br>
  <div class = "col-lg-offset-3 col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <%= link_to "ЛУЧШЕЕ ЗА НЕДЕЛЮ", url_for(controller: 'static_pages', action: 'lenta', last_days: 7) %> |
    <%= link_to "ЛУЧШЕЕ ЗА МЕСЯЦ", url_for(controller: 'static_pages', action: 'lenta', last_days: 30) %>
  </div>
</div></div>

<div id="posts">
  <%= render partial: 'queue_images/item_view_1', collection:  @items %>
</div>

<%= will_paginate @items %>