<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку, чтобы изменить пароль. Вы можете сделать это через ссылку ниже.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали этого, пожалуйста, игнорируйте это сообщение.</p>
<p>Ваш пароль не изменится, пока вы не откроете ссылку выше.</p>
