<footer class="footer">
  <small>
    <a href="http://www.ostagram.ru/">Ostagram</a>
    by SM
  </small>
  <nav>
    <ul>
      <li><%= link_to "О проекте",  about_path %></li>
      <li><a href="https://github.com/SergeyMorugin/ostagram">GitHub</a></li>
    </ul>
  </nav>
</footer>