<footer class="footer">
  <small>
    <a href="http://www.ostagram.ru/">Ostagram Project</a>
    by SM
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>

      <li><%= link_to "Contact", about_path %></li>
      <li><a href="http://ostagram.ru">News</a></li>
    </ul>
  </nav>
</footer>