<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Ostagram", root_path, id: "logo" %>
          <nav>
            <ul class="nav nav-pills pull-right">

              <li><%= link_to "Картинки",    queue_images_path %></li>
              <li><%= link_to "О проекте",    about_path %></li>

            </ul>
          </nav>
        </div>
      </div>
</header>